header {
    text-align: center;
  }
  
  body {
    font-family: 'Oswald', sans-serif;
  }
  
  textarea, input {
    width: 40%;
    border-radius: 10px;
    border-width: 5px;
    font-weight: bold;
    color: black;
  }
  
  input#number {
    width: 25ch;
    text-align: center;
  }
  
  p#output {
    font-family: 'Inconsolata', monospace;
    border: solid 4px black;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    margin: 0 auto;
    color: black;
  }
  
  div.kryptering {
    text-align: center;
  }
  
  label {
    font-weight: bold;
  }
  
  button#clearBtn {
    border-radius: 10px;
    border-width: 5px;
  }
  
  footer {
    background-color: black;
    padding: 15px;
    width: 50%;
    text-align: center;
    margin: 0px auto;
    border: solid 5px #04bd04;
    border-radius: 16px;
    color: white;
  }
  
  button#clearBtn:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
  textarea:selected, input:selected {
    border: solid black 4px;
  }