@font-face {
  font-family: 'Oswald';
  src: url('Fonts/Oswald-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Fonts/Inconsolata-Regular.ttf');
  font-weight: 400;
}

header {
  text-align: center;
  }

body {
  font-family: 'Oswald', Fallback, sans-serif;
}

label {
  font-size: 18px;
  font-weight: bold;
}

textarea, input {
  border: solid 6px grey;
  width: 40%;
  border-radius: 10px;
  border-width: 6px;
  color: black;
  resize: none;
}

input#number {
  width: 25ch;
  text-align: center;
}

textarea#output {
  font-family: 'Inconsolata', Fallback, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  color: black;
}

div.kryptering {
  text-align: center;
}

button#clearBtn {
  border-radius: 10px;
  border-width: 5px;
}

div.alanTuring, div.omNettstedet {
  background-color: black;
  padding: 15px;
  width: 50%;
  text-align: center;
  margin: 0px auto;
  border: solid 5px #04bd04;
  border-radius: 16px;
  color: white;
}

button#clearBtn:hover, button#clearBtn:focus {
  background-color: #ffffff;
  color: #000000;
}

textarea:focus, input:focus {
  outline: none;
  border: solid black 6px;
}

@media screen and (max-width: 1000px) {
  footer {
    width: 90%;
  }

  textarea {
    width: 75%;
  }
  
  input {
    size: 75%;
  }
}